<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户名存在测试</title>
        
    </head>


    <body>
        <script src="/javascripts/ajax-1.0.js"></script>
        <h3>用户名存在测试</h3>
        <input type="text" name="username">

        <script>
            
         var input=document.querySelector('input');
           
             input.onblur= function () {

                var username=input.value;

                Ajax().post('/doreg',"username="+username,function(msg) {

                         console.log(msg)
                })

             }
        
        
        
        
        </script>
    </body>


</html>