<!DOCTYPE html>
<html>
  <head>
    <title>第一次测试Ajax请求</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>第一次测试Ajax请求</h1>
       <button>点击我进行测试</button>
       <script>

        var btn = document.querySelector('button');
        btn.onclick= function() {

          var xhr= new XMLHttpRequest();
          xhr.onreadystatechange=function() {

            if(xhr.readyState==4&&xhr.status==200) {

              alert(xhr.responseText);
          }
          
        }
          xhr.open('GET','/get1?username=王小米',true);

          xhr.send();

        }
             </script>
  </body>
</html>
